*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0 20px;
}

.menu li a{
    transition: all .3s ease;
}

.menu a:hover{
    color: blue;
}

.font-color{
    color: white;
}

button{
    background: rgb(38, 38, 255);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover{
    background: rgb(51, 153, 255);
}

/*JUMBO TRON*/
.jumbotron{
    width: 100%;
    height: 600px;
    background-color: rgb(134, 195, 252);
}

h1{
    font-size: 70px;
    font-weight: 700;
}

.central-title{
    text-align: center;
    margin: 0 auto;
}

.jumbo-img{
    width: 800px;
}

.content-jumbo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottone-jumbo{
    margin: 500px;
}

.sezione-1{
    display: flex;
    align-items: center;
}

.piani-abbonamento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container-plan{
    display: flex;
    justify-content: center;
    align-items: center;
}

.singolo{
    width: 350px;
    height: 300px;
    border: 1px solid;
}

ul li{
    list-style: none;
}

.team{
    width: 350px;
    height: 300px;
    border: 1px solid;
}

.azienda{
    width: 350px;
    height: 300px;
    border: 1px solid;
}

.container-plan div{
    margin: 20px;
}

.piano-enterprise{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.partner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.allinemanto{
    width: 45%;
    display: inline-block; 
    margin: 2%;
}

.skill-dropbox{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}